.container
  .row
    .col-lg-3.col-md-3.col-xs-3
    .col-lg-6.col-md-6.col-xs-6
      #messages.DM
        = attachment_image_tag(@pair_user, :profile_image, id: "pair_user_img", size: "40x40", fallback: "no-image.png", style: "display:none;")
        -# ActionCable用input
        %input.user_id{type: "hidden" , value: current_user.id }
        %input.room_id{type: "hidden" , value: @room.id}
        = render "user/rooms/messages", messages: @messages
      .fixed_form
        %form
          %input{type: "text", id: "DM_form","data-behavior-message" => "room_speaker", "data-user_id" => current_user.id, "data-room_id" => @room.id }

