.container.about
  %h1.top 
    Welcome to 「
    %span
      Hub a Blast
    」
  %h3 
    「
    %span
      Hub a Blast
    」は音楽ストリーミングサービス「
    %span
      Spotify
    」の
    %br
    APIを基にした音楽特化型コミュニティサイトです。
  .concept
    %h3 音楽という広いジャンルを、アーティスト>アルバム>曲と細分化することにより
    %ul
      %li ・好きなジャンルがニッチで、音楽について話の合う人がいない。
      %li ・好きな曲はあるが、アーティストについては詳しく無い。
      %li	・自分の好きなアーティストについて、アルバムや曲単位で意見交換がしたい。
    %h3 
      などの異なるニーズを持った人々にとっての「Hub」のようなサイトになれば幸いです。
  %h1 
    Have a Blast !!
    %p (≒ have a great time)

