%h3 ALBUMs
.row
    - if searchalbums.present?
        - searchalbums.first(album_count).each do |searchalbum|
            .col-lg-3.col-md-3.col-xs-3
                - if searchalbum.images.any?
                    - image = searchalbum.images[2]
                    = image_tag(image["url"])
                - else
                    =image_tag("default.jpg")
                %br
                = searchalbum.name
- if searchalbums.count > album_count
    - album_count += 8
    = link_to "更に表示する", user_spotify_index_path(album_count: album_count, search: search_word), remote: true