%h3 ALBUMs
.row
  - if searchalbums.present?
    - n = 0
    - searchalbums.first(album_count).each do |searchalbum|
      .col-lg-3.col-md-3.col-xs-3
        - n += 1
        = set_image(searchalbum,2,true,false)
        %br
        %p{id: "album_#{n}"}= searchalbum.name
- if searchalbums.count > album_count
  - album_count += 8
  = link_to "更に表示する", user_spotify_index_path(album_count: album_count, search: search_word), id: "more_albums", remote: true