%h3 ARTISTs
.row
  - if searchartists.present?
    - n = 0
    - searchartists.first(artist_count).each do |searchartist|
      .col-lg-3.col-md-3.col-xs-3
        - n += 1
        = set_image(searchartist,2,true,false)
        %br
        %p{id: "artist_#{n}"}= searchartist.name
- if searchartists.count > artist_count
  - artist_count += 8
  = link_to "更に表示する", user_spotify_index_path(artist_count: artist_count, search: search_word), id: "more_artists", remote: true