.song_header.text-center
  = link_to "Top", user_home_top_path
  = link_to "New Releases", user_spotify_new_releases_path
  = link_to "Charged Up", user_spotify_charged_ups_path
  = link_to "Top Impressions", user_song_impressions_path
