-if song_favorite
	= link_to user_song_favorite_path(song_favorite), method: :delete do
		%i.fa.fa-star-o
	= SongFavorite.where(song_id: song.id).count 
-else
	= link_to user_song_favorites_path(song_id: song.id), method: :post do
		%i.fa.fa-star
	= SongFavorite.where(song_id: song.id).count