// Place all the styles related to the user::spotify controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_edit{
	list-style: none;
	li{
		display: none;
		padding-top: 10px;
	}
}

.head_title {
	margin: 0 auto;
	padding-bottom: 20px;
	a {
		color: black;
	}
}