// Place all the styles related to the user::spotify controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_edit{
	list-style: none;
	li{
		display: none;
		padding-top: 10px;
	}
}

.head_title {
	margin: 0 auto;
	padding-bottom: 20px;
	a {
		color: white;
	}
}

.charged_up_search{
	text-align: right;
}

.charged_up_table {
	line-height: 70px;
}

.charged_up_song_name {
	text-align: left;
}

.charged_up_comments_count {
	text-align: right;
}

.line-it-button {
	margin: 10px 0 5px 0;
}
