// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_edit_label {
    label {
        padding-bottom: 20px;
    }
    input{
        margin-top: 20px;
    }
}

.user_edit_field {
    input {
        margin-bottom: 20px;
        margin-top: 5px;
    }
}

.favorite {
  display: inline-block;
}

.viewall {
  float: right;
  line-height: 38px;
}

// DM関連


.chat {
	padding: 0 10px 5px 10px;
  max-width: 450px;
  margin: 0px auto 0 auto;
  text-align: right;
	font-size: 14px;
}


.left-chat-box .chat-image{
	float: left;
  margin-right: -50px;
  width: 40px;
}

.left-chat-box {
	width: 100%;
  margin: 10px 0;
	overflow: hidden;
	text-align: left;
}

.left-chat-box .chat-image img{
  border-radius: 50%;
}

.left-chat-box .chat-message {
	width: 100%;
	text-align: left;
	display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.left-chat-box .chat-message:after{
	content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}

.left-chat-box .chat-message p{
	margin: 0;
	padding: 0;
	color: black;
}

.right-chat-box{
	margin: 10px 0;
}

.right-chat-box p{
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
	font-size: 15px;
}

.right-chat-box p:after {
	content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
